<p>Update PP extruder with better quality components. Perfect for small enterprise, schools and universities<br>
</p>
<hr>
<div style="clear:both">
    <div>
        <a href="${product_overview}">
            <p style="text-align: center">
                <img width="100%" src="${product_overview}">
            </p>
        </a>
    </div>
    <hr />
</div>
<div class="ty-vendor-plans">

    <div style="text-align: left;;margin: 20px;">
        ${specs}
    </div>

    <div style="text-align: left;;margin: 20px;">
        ${product_resources}
    </div>
</div>

<div class="ty-vendor-plans">
    <div style="text-align: left;margin: 20px;">
        ${academy_links}
    </div>
</div>