<div>
    <a href="${product_perspective}">
        <img src="${product_perspective}" style="float: left;width:50%;" />
    </a>

    <span style="font-size: smaller;">
        Perfect for more complicated molds and better production rates as well good quality with high precision. Easy
        to transport and ideal for a educational context and small enterprises.
    </span>

    <div style="display: inline-block;">
        ${mini_specs}
    </div>

</div>

<div style="margin: 8px;">
<a href="">
    <span  style="margin: 8px;" class="fa fa-download"/>
</a>

<a href="">
    <span style="margin: 8px;" class="fa fa-play"/>
</a>
<a href="">
    <span style="margin: 8px;" class="fa fa-question"/>
</a>
</div>

<hr />

${products}