<div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
    <a href="https://community.preciousplastic.com/how-to/make-extruded-plastic-bricks">
        <img height="200px"
            src="https://firebasestorage.googleapis.com/v0/b/onearmyworld.appspot.com/o/uploads%2Fv2_howtos%2FwgXKMSyFffTnY7sW8K1n%2FBrick%20Lean-howto.jpg?alt=media&amp;token=14046c6e-96b8-497f-ae44-9edc13615533">
        <br />
        <p style="text-align: center;">Make extruded plastic
            bricks</p>
    </a>
</div>