<div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
    <a href="https://community.preciousplastic.com/how-to/make-a-shelf-with-sheets--beams">
        <img height="200px"
            src="https://firebasestorage.googleapis.com/v0/b/onearmyworld.appspot.com/o/uploads%2Fv2_howtos%2F4F2VmET7hSvAcFPwpqnv%2FShelf%20Front%20On-howto.jpg?alt=media&token=b5a01e09-9734-4e21-856e-1d2ef97ed6df">
        <br />
        <p style="text-align: center;">Make a shelf with sheets & beams</p>
    </a>
</div>