<div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
    <a href="https://community.preciousplastic.com/how-to/make-a-mould-to-extrude-beams">
        <img height="200px"
            src="https://firebasestorage.googleapis.com/v0/b/onearmyworld.appspot.com/o/uploads%2Fv2_howtos%2FrodwJIeeabSsIGuI27Er%2F1%20fin.JPG?alt=media&token=91253391-e30b-4d4a-978a-4834a93f5197">
        <br />
        <p style="text-align: center;">Make a lamp with beams</p>
    </a>
</div>