<div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
    <a href="https://community.preciousplastic.com/how-to/make-a-lamp-with-beams">
        <img height="200px"
            src="https://firebasestorage.googleapis.com/v0/b/onearmyworld.appspot.com/o/uploads%2Fv2_howtos%2FqHIFJwCev1TxepK7JHns%2F_DSF9396.JPG?alt=media&token=3381bbd4-e942-4aa9-a322-e376bdd81f35">
        <br />
        <p style="text-align: center;">Make a lamp with beams</p>
    </a>
</div>