<div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
    <a href="https://community.preciousplastic.com/how-to/make-a-chair-with-bent-sheets">
        <img height="200px"
            src="https://firebasestorage.googleapis.com/v0/b/onearmyworld.appspot.com/o/uploads%2Fv2_howtos%2FsOTZUfaNoqANgG1JaMTy%2FLC%20Front%20on%20Angle%20Down%20-howto.jpg?alt=media&token=cecfa462-6afa-483e-8fae-e25a288000f4">
        <br />
        <p style="text-align: center;">Make a chair with bent sheets</p>
    </a>
</div>