<div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
    <a href="https://community.preciousplastic.com/how-to/make-a-stool-with-woodworking-techniques">
        <img height="200px"
            src="https://firebasestorage.googleapis.com/v0/b/onearmyworld.appspot.com/o/uploads%2Fv2_howtos%2FupxCCIPBklsTLDyp86zB%2Fpreciousplastic-stool.jpg?alt=media&token=1bbd28a3-c27d-48b8-8a38-757d85ec55e1">
        <br />
        <p style="text-align: center;">Make a stool with woodworking techniques</p>
    </a>
</div>