.WidgetPalette,
.DevicePalette {
    font-size: 14px;
    .ms-GroupHeader-expand {
        font-size: 14;
    }
    .groupHeaderContainer {
        height: auto;
    }
    .ms-GroupHeader-title {
        font-size: 14px
    }
    .ms-DetailsRow {
        height: 20px;
    }
}
